
html {
  font-family: 'Hind', sans-serif;
  min-height: 100%;
}

body {
  padding: 0 20% 0 20%;
  margin: 0;
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
    ), url('bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

header {
  height: 100px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
    float: right;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    border-bottom: 2px solid #D0C9CB;
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-right: 10px;
    color: #ffffff;
    background-color: none;

}

.soc a:hover {
    z-index: 2;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.soc-icon-last{
    margin:0 !important;
}

.soc-facebook {
    background-color: #445797;
}

.soc-twitter {
    background-color: #6A8DC7;
}

.soc-rss {
    background-color: #CC8F32;
}

.soc-youtube {
    background-color: #B2382D;
}


nav ul {
  list-style: none;
  padding-left: 0;
}

li a {
  color: white;
  text-decoration: none;
}

nav li {
  display: inline-block;
}

.social-media-nav {
  float: right;
}

.subscribe {
  color: white;
  padding: 15px 70px 0 0;
  margin: 0;
  float: left;
  font-size: 12px;
}

.skater-nav {
  margin: 0;
  padding: 5% 2.5%;
}

.skater-nav ul li {
  background-color: #B3292E;
  padding: 5px 2% 5px 2%;
  border-bottom: 2px solid #686364;
  text-align: center;
  width: 20%;
}

.css-slideshow{
  position: relative;
  max-width: 800px;
  height: 400px;
  padding: 0 3%;
}
.css-slideshow figure{
  margin: 0;
  max-width: 700px;
  height: 300px;
  background: #000;
  position: absolute;
}
.css-slideshow figure > img{
  box-shadow: 0 0 2px #666;
  max-width: 700px;
  max-height: 350px;
  width: 700px;
  height: 350px;
}
.css-slideshow figcaption{
  position: absolute;
  top: 0;
  color: #fff;
  font-size: .8em;
  padding: 8px 12px;
  opacity: 1;
  transition: opacity 6s;
}
.css-slideshow:hover figure figcaption{
  transition: opacity 6s;
  opacity: 1;
}
.css-slideshow-attr{
  max-width: 495px;
  text-align: right;
  font-size: .7em;
  font-style: italic;
  margin:0 auto;
}
.css-slideshow-attr a{
  color: #666;
}
.css-slideshow figure{
  opacity:0;
}

figcaption img {
  width: 210px;
  height: 121px;
}

figure:nth-child(3) {
  -webkit-animation: xfade 18s 12s infinite;
}
figure:nth-child(2) {
  -webkit-animation: xfade 18s 6s infinite;
}
figure:nth-child(1) {
  -webkit-animation: xfade 18s 0s infinite;
}

@-webkit-keyframes xfade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.main-content {
  display: flex;
  margin-bottom: 50px;
  max-height: 400px;
}

.main-content section {
  background-color: white;
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  width: 30%;
}

.main-content section p {
  font-size: 14px;
}

section .date {
  font-size: 12px;
  color: #686364;
}

section .read {
  color: #B3292E;
  font-weight: bold;
  text-align: center;
  vertical-align: baseline;
}

section h3 {
  font-weight: 300;
}

.skateboarders {
  display: inline-block;
  position: relative;
  width: 100%;
}

.skaters {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
  width: 60%;
}

.skaters img {
  overflow: hidden;
  width: 117%;
}

.skaters div img {
  border: solid 5px white;
  margin-right: 10px;
  height: 50%;
  width: 45%;
}

.skaters p {
  border: solid 5px white;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 450px;
  height: 256px;
}

.skaters div {
  width: 477px;
}

.sidebar {
  border: solid 5px white;
  float: right;
  width: 38%;
  overflow: hidden;
}

.sidebar img {
    height: 396px;
    float: right;
}

.skateboards {
  padding: 20px 0px 20px 0px;
  background-color: white;
  margin-bottom: 40px;
}

.skateboards img {
  padding-right: 8px;
}


#thumbwrap {
	width:800px; height:300px;
}
.thumb {
	float:left; /* must be floated for same cross browser position of larger image */
	position:relative;
	margin:3px;
}
.thumb img {
	vertical-align:bottom;
  transition: all 0.3s ease-in-out 0s;
}
.thumb:hover {
	border:0; /* IE6 needs this to show large image */
	z-index:1;
  opacity: 1;
}

.thumb span {
	position:absolute;
	visibility:hidden;
}

.thumb:hover span img {
	visibility:visible;
	top:37px; left:37px;
  opacity: 1 !important;
  cursor: default;
  transform: rotate(-90deg) scale(1.7);
  transition: all 0.3s ease-in-out 0s;
}

.sk8-hover:hover {
  background-color: white;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
     -moz-transition: opacity 0.3s ease-out;
      -ms-transition: opacity 0.3s ease-out;
       -o-transition: opacity 0.3s ease-out;
          transition: opacity 0.3s ease-out;
}

.contact h3 {
  font-weight: 300;
}

#form-div {
  background-color: rgba(255, 255, 255, 1);
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 50px;
  left: 80%;
  height: 400px;
  margin-bottom: 50px;
}

.contact {
  float: left;
  width: 300px;
}

.form {
  float: right;
  width: 300px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 14px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 13px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(128, 128, 128, 1);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #B3292E;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 13px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-red {
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #686364 solid 4px;
	cursor:pointer;
	background-color: #B3292E;
	color:white;
	font-size:20px;
	padding-top:10px;
	padding-bottom:10px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-red:hover{
	background-color: rgba(0,0,0,0);
	color: #B3292E;
}

.submit:hover {
	color: #B3292E;
}

.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
  cursor: pointer;
	-webkit-transition: background-color .3s ease;
	-moz-transition: background-color .3s ease;
	-o-transition: background-color .3s ease;
	-ms-transition: background-color .3s ease;
	transition: background-color .3s ease;
}

.submit:hover .ease {
  width:100%;
  background-color:white;
}
